{% extends 'app/base.html' %}

{% block contenido %}

<h2>Bienvenidos </h2>

<p>
    Este sitio fue desarrollado con Django como proyecto final.
</p>

<p>
    Acá vas a poder explorar publicaciones, crear páginas, editar tu perfil
    y comunicarte con otros usuarios mediante mensajes.
</p>

<br>

<a href="/pages/" style="text-decoration:none;">
    <button style="
        padding:10px 20px;
        border:none;
        border-radius:8px;
        background:#2c3e50;
        color:white;
        cursor:pointer;
    ">
        Ver Blogs
    </button>
</a>

{% endblock %}